<div class="c" [ngStyle]="{
    'backgroundColor' : bgColor,
    'color' : color,
    'fontSize' : size,
    'font-family' : font 
}">
    Cours d'Angular avec les DMWM2020 à Tekup !
</div>

Background Color : <br>
<input [(ngModel)]="bgColor" type="text" class="form-control">
Color : <br>
<input [(ngModel)]="color" type="text" class="form-control">

Font Size : <br>
<input #in (change)="changeSize(in.value)" type="number" class="form-control">

Font Family : 
<select class="form-control" [(ngModel)]="font">
    <option *ngFor="let f of listeFonts" [value]="f">{{ f }}</option>
</select>
